<table class="table">
<thead class="thead-dark">
<tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Correo</th>
    <th scope="col">Identificacion</th>
    <th scope="col">Usuario</th>
    <th scope="col">Rol</th>
</tr>
</thead>
<tbody>
    <tr>
            
        <th>{{ aprendiz.id }}</th>
        <th>{{ aprendiz.nombre }}</th>
        <th>{{ aprendiz.apellido }}</th>
        <th>{{ aprendiz.correo }}</th>
        <th>{{ aprendiz.identificacion }}</th>
        <th>{{ aprendiz.usuario }}</th>
        <th>{{ aprendiz.rol }}</th>
    </tr>
</tbody>

</table>